/* Additional CSS v7.8 */
img.qrcode {
  display: block;
  max-width: 650px;
  height: auto;
}
div.qrcode {
  width: 90%;
  text-align: center;
  justify-content: center;
}

}

/* If the screen size is 601px wide or more, set the font-size of <div> to 3vw */
@media screen and (min-width: 601px) {
  .tagline {
    font-size: 5vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .tagline {
    font-size: 30px;
  }
  .qrcode {
    min-width: 300px;
  }
}
