/* Main CSS v9.4 */
img.qrcode {
  display: block;
  max-width: 900px;
  height: auto;
  margins: 0;
}
div.qrcode {
  text-align: center;
  justify-content: center;
}
#qrcode {
  margins: auto;
  text-align: center;
}
#logo {
  text-decoration: none;
}
#cardbtn {
  width: 75%;
  max-width: 900px;
  justify-content: center;
}
.cardbtn {
  background-color: rgb(255, 255, 255);
  height: 40%;
  min-height: 150px;
  text-decoration: none;

}

/* If the screen size is 601px wide or more: */
@media screen and (min-width: 601px) {
  .tagline {
    font-size: 5vw;
  }
  .cardbtn {
    font-size: 6vw;
  }
}

/* If the screen size is 600px wide or less: */
@media screen and (max-width: 600px) {
  .tagline, .cardbtn {
    font-size: 35px;
  }
  .qrcode, #cardbtn, .cardbtn {
    min-width: 300px;
  }
}
